<p>
  <strong>To:</strong>
  <%= @redirect.destination %>
</p>

<p>
  <strong>Active:</strong>
  <%= @redirect.active %>
</p>

<%= link_to 'Edit', edit_redirect_path(@redirect) %> |
<%= link_to 'Back', redirects_path %>